@import './variables';
@import './header';
@import './base';

body {
  display: flex;
}

// @mixin createColorTheme(color) {
//   color: 
// }

#blue-container {
  background-color: $twitter-color;
  color: white;

}





.contact {
  @extend header;
  background-color: lightcoral;
}